
  <div class="top-logo">
    <a class="logo-link" href="home"><img src="assets/logo.jpeg" alt="Logo de la empresa" width="auto" height="90px" style="position: fixed;"></a>
      <div class="menu">
        <li><a class="acc"> <span class="material-symbols-outlined" style=" font-size: 56px;">
          account_circle
          </span></a>
          <ul class="menu-ver-acc">
            <li><a href="">Datos</a></li>
            <li><a href="">Configuracion</a></li>
            <li><a href="">Salir</a></li>
          </ul></li>
      </div>

  </div>
  <div class="app">
      <div class="top-bar">
          <div class="menu">
              <a href="/home" class="boton-left">Inicio</a>
              <a href="/area" class="boton-adm">Administración</a>
              <a class="boton-soli">Solicitud</a>
              <ul class="menu-ver">
                <li><a href="/solicitudsupad">Vacaciones</a></li>
                <li><a href="/turno">Turno</a></li>
              </ul>
              <li><a href="#" class="boton-right">Gantt</a></li> 
              <li><a href="#" class="not"> <span class="material-symbols-outlined" style="color: #ffffff; font-size: 40px;">
                notifications
                </span></a></li>
              </div>
      </div>
    </div>

