<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  </head>
<body>
  <div class="top-logo">
    <a class="logo-link" href="home"><img src="assets/logo.jpeg" alt="Logo de la empresa" width="auto" height="90px"></a>
      <div class="menu">
        <li><a class="acc"> <span class="material-symbols-outlined" style=" font-size: 56px;">
          account_circle
          </span></a>
          <ul class="menu-ver-acc">
            <li><a href="">Datos</a></li>
            <li><a href="">Configuracion</a></li>
            <li><a href="">Salir</a></li>
          </ul></li>
      </div>

  </div>
  <div class="app">
      <div class="top-bar">
          <div class="menu">
              <li><a href="/home" class="boton-left">Inicio</a></li>
              <li><a href="#" class="boton-adm">Administración</a></li>
              <li><a class="boton-soli">Solicitud</a>
              <ul class="menu-ver">
                <li><a href="/solicitudsupad">Vacaciones</a></li>
                <li><a href="/turno">Turno</a></li>
              </ul></li>
              <li><a href="#" class="boton-right">Gantt</a></li> 
              <li><a href="#" class="not"> <span class="material-symbols-outlined" style="color: #ffffff; font-size: 40px;">
                notifications
                </span></a></li>
              </div>
      </div>
    </div>
</body>
</html>
